body {
  text-align: center;
  color: green;
}

#timer {
  font-family: monospace;
  font-size: 100px;
  font-weight: 300;
}

button {
  width: 100px;
  height: 35px;
}

button:hover {
  cursor: pointer;
}
